:root {
    --Sunset-Orange:#fe5c5f;
    --whith:#ffffff;
    --Jacarta:#3a3d5c;
    --Dark-Gunmetal: #24242c;
    /** fonts */
    --overall-fontsize: 62.5%;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: var(--overall-fontsize) /** 16px * 0.625 = 10px conversion en base 10 */
}
body {
    font-size: 1.4rem; /** 14px; */ 
}
.main-conntainer {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
/**header*/
.header {
    background-color: var(--Sunset-Orange);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__right {
    display: none;
}

/** main*/
.main {
    flex-grow: 1;
    max-height: 100vh;
    height: 100vh;
}
/**Section2*/
.container1 {
    height: 400px;
    background-color: white;
}
.title {
    height: 20%;
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    height: 80%;
}
.image-1 img {
    height: 30rem;
}

/**footer*/
.footer {
    background-color: var(--Dark-Gunmetal);
}

.container {
    border: 2px dotted blue;
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .8rem;
}
.container-fluid {
    border: 2px dotted orange;
    max-width: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/** Media Queries*/ 
@media ( min-width: 567px ) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
}
@media ( min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
    .navbar__right {
        display: block;
    }
    
}
@media ( min-width: 992px ) {
    .container {
        max-width: 98rem;
        padding: 0 3.2rem;
    }
}
@media ( min-width: 1200px ) {
    .container {
        max-width: 114rem;
        padding: 0 4.rem;
    }
}